      </div>
    </div>
    <footer id="footer">
      <a href="https://www.facebook.com/profile.php?id=100054391483526" target="_blank"><i class="logo fa fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/abhishek_code_art/" target="_blank"><i class="logo fa fa-instagram"></i></a>
      <a href="mailto:8439tabhi@gmail.com" target="_blank"><i class="logo fa fa-envelope"></i></a>
      <a href="mailto:8439tabhi@gmail.com" target="_blank"><i class="logo fa fa-linkedin"></i></a>
      <p>Copyright &copy; 2022 BlogOnBlogMore.com</p>
    </footer>
  </body>
</html>
