<%- include('partials/header'); %> 

<div id="about-section" style="width: 100%;">
    <div id="about-title" class="mt-3 mb-3">
        <h1 style="font-size: 3.5rem; font-weight: 500;">About Me</h1>
    </div>
    <div id="about-content">
        <div id="image-container">
            <img src="./images/myimage.jpg" alt="">
        </div>
        <h3 class="mt-2">Computer Science and Engineering Student</h3>
        <div id="mybio" style="padding-left: 25px;">
            <p>Hello Everyone, I'm Abhishek Tiwari 3rd year B.Tech-CSE student in <a href="http://www.ipu.ac.in/" style="color: #fff;">Guru Gobind Singh Indraprastha University</a> New Delhi. I am a coding enthusiast, I like to do coding and solve problems. I like learning new things and technologies and solve real world problems.My Technical skills are Full Stack Web Development, Java, Python, Postgresql.</p>
        </div>
    </div>
    
</div>

<%- include('partials/footer') %> 